<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdWxMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdWx">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddName" property="ddName" jdbcType="VARCHAR"/>
        <result column="ddBannerUnit" property="ddBannerUnit" jdbcType="VARCHAR"/>
        <result column="ddBannerTime" property="ddBannerTime" jdbcType="INTEGER"/>
        <result column="ddBannerAllowedShow" property="ddBannerAllowedShow" jdbcType="BOOLEAN"/>
        <result column="ddBannerStrategyId" property="ddBannerStrategyId" jdbcType="INTEGER"/>
        <result column="ddBannerStrategyValue" property="ddBannerStrategyValue" jdbcType="VARCHAR"/>
        <result column="ddIntUint" property="ddIntUint" jdbcType="VARCHAR"/>
        <result column="ddIntAllowedShow" property="ddIntAllowedShow" jdbcType="BOOLEAN"/>
        <result column="ddIntStrategyId" property="ddIntStrategyId" jdbcType="INTEGER"/>
        <result column="ddIntStrategyValue" property="ddIntStrategyValue" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ddId, ddName, ddBannerUnit, ddBannerTime, ddBannerAllowedShow, ddBannerStrategyId, ddBannerStrategyValue,
        ddIntUint, ddIntAllowedShow, ddIntStrategyId, ddIntStrategyValue, updateTime
    </sql>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_wx
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_wx
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdWx">
        insert into config_ad_wx (ddName, ddBannerUnit, ddBannerTime, ddBannerAllowedShow, ddBannerStrategyId,
                                  ddBannerStrategyValue, ddIntUint, ddIntAllowedShow, ddIntStrategyId,
                                  ddIntStrategyValue, updateTime)
        values (#{ddName, jdbcType=VARCHAR}, #{ddBannerUnit, jdbcType=VARCHAR}, #{ddBannerTime, jdbcType=BOOLEAN},
                #{ddBannerAllowedShow, jdbcType=INTEGER}, #{ddBannerStrategyId, jdbcType=INTEGER},
                #{ddBannerStrategyValue, jdbcType=VARCHAR}, #{ddIntUint, jdbcType=VARCHAR},
                #{ddIntAllowedShow, jdbcType=VARCHAR}, #{ddIntStrategyId, jdbcType=VARCHAR},
                #{ddIntStrategyValue, jdbcType=VARCHAR}, NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdWx">
        update config_ad_wx
        <set>
            ddName = #{ddName, jdbcType=VARCHAR},
            ddBannerUnit = #{ddBannerUnit, jdbcType=VARCHAR},
            ddBannerTime = #{ddBannerTime, jdbcType=INTEGER},
            ddBannerAllowedShow = #{ddBannerAllowedShow, jdbcType=BOOLEAN},
            ddBannerStrategyId = #{ddBannerStrategyId, jdbcType=INTEGER},
            ddBannerStrategyValue = #{ddBannerStrategyValue, jdbcType=VARCHAR},
            ddIntUint = #{ddIntUint, jdbcType=VARCHAR},
            ddIntAllowedShow = #{ddIntAllowedShow, jdbcType=BOOLEAN},
            ddIntStrategyId = #{ddIntStrategyId, jdbcType=INTEGER},
            ddIntStrategyValue = #{ddIntStrategyValue, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        delete
        from config_ad_wx
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

</mapper>