<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdSpaceMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdSpace">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddName" property="ddName" jdbcType="VARCHAR"/>
        <result column="ddAdType" property="ddAdType" jdbcType="INTEGER"/>
        <result column="ddAllowedOperation" property="ddAllowedOperation" jdbcType="BOOLEAN"/>
        <result column="ddAdContents" property="ddAdContents" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ddId, ddName, ddAdType, ddAllowedOperation, ddAdContents, updateTime
    </sql>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_space
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" parameterType="com.fish.dao.second.model.ConfigAdSpace"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_space
        where 1 = 1
        <if test="ddAdType != 0">
            and ddAdType = #{ddAdType, jdbcType=INTEGER}
        </if>
        <if test="ddName != null and ddName != ''">
            and ddName like concat('%',#{ddName, jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectAllByIds" parameterType="java.lang.String"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_space
        where ddId in (${spaceIds, jdbcType=VARCHAR})
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdSpace">
        insert into config_ad_space (ddName, ddAdType, ddAllowedOperation, ddAdContents, updateTime)
        values (#{ddName, jdbcType=VARCHAR}, #{ddAdType, jdbcType=INTEGER},
                #{ddAllowedOperation, jdbcType=BOOLEAN}, #{ddAdContents, jdbcType=VARCHAR}, NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdSpace">
        update config_ad_space
        <set>
            ddName = #{ddName, jdbcType=VARCHAR},
            ddAdType = #{ddAdType, jdbcType=INTEGER},
            ddAllowedOperation = #{ddAllowedOperation, jdbcType=BOOLEAN},
            ddAdContents = #{ddAdContents, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.String">
        delete
        from config_ad_space
        where ddId in (${deleteIds})
    </update>

    <update id="changeDdAllowedOperation">
         update config_ad_space set ddAllowedOperation = #{ddAllowedOperation, jdbcType=BOOLEAN} where ddId = #{ddId, jdbcType=INTEGER}
    </update>

</mapper>