<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdContentMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdContent">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddAdType" property="ddAdType" jdbcType="INTEGER"/>
        <result column="ddWeight" property="ddWeight" jdbcType="INTEGER"/>
        <result column="ddImageUrl" property="ddImageUrl" jdbcType="VARCHAR"/>
        <result column="ddTargetAppId" property="ddTargetAppId" jdbcType="VARCHAR"/>
        <result column="ddTargetAppName" property="ddTargetAppName" jdbcType="VARCHAR"/>
        <result column="ddTargetAppType" property="ddTargetAppType" jdbcType="INTEGER"/>
        <result column="ddTargetAppPage" property="ddTargetAppPage" jdbcType="VARCHAR"/>
        <result column="ddPromoteAppId" property="ddPromoteAppId" jdbcType="VARCHAR"/>
        <result column="ddPromoteAppName" property="ddPromoteAppName" jdbcType="VARCHAR"/>
        <result column="ddPromoteAppType" property="ddPromoteAppType" jdbcType="INTEGER"/>
        <result column="ddPromoteAppPage" property="ddPromoteAppPage" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ddId, ddAdType, ddWeight, ddImageUrl, ddTargetAppId, ddTargetAppName, ddTargetAppType, ddTargetAppPage,
        ddPromoteAppId, ddPromoteAppName, ddPromoteAppType, ddPromoteAppPage, updateTime
    </sql>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" parameterType="com.fish.dao.second.model.ConfigAdContent" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
        where 1 = 1
        <if test="ddAdType != 0">
            and ddAdType = #{ddAdType, jdbcType=INTEGER}
        </if>
        <if test="ddTargetAppId != null and ddTargetAppId != ''">
            and ddTargetAppId like concat('%',#{ddTargetAppId, jdbcType=VARCHAR},'%')
        </if>
        <if test="ddTargetAppName != null and ddTargetAppName != ''">
            and ddTargetAppName like concat('%',#{ddTargetAppName, jdbcType=VARCHAR},'%')
        </if>
        <if test="ddPromoteAppId != null and ddPromoteAppId != ''">
            and ddPromoteAppId like concat('%',#{ddPromoteAppId, jdbcType=VARCHAR},'%')
        </if>
        <if test="ddPromoteAppName != null and ddPromoteAppName != ''">
            and ddPromoteAppName like concat('%',#{ddPromoteAppName, jdbcType=VARCHAR},'%')
        </if>
    </select>

    <select id="selectAllByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
        where ddAdType = #{ddAdType, jdbcType=INTEGER}
    </select>

    <select id="selectContentBySpaceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
        where ddId in (${contentIds, jdbcType=VARCHAR})
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdContent">
        insert into config_ad_content (ddAdType, ddWeight, ddImageUrl, ddTargetAppId, ddTargetAppName, ddTargetAppType,
                                       ddTargetAppPage, ddPromoteAppId, ddPromoteAppName, ddPromoteAppType,
                                       ddPromoteAppPage, updateTime)
        values (#{ddAdType, jdbcType=INTEGER}, #{ddWeight, jdbcType=INTEGER}, #{ddImageUrl, jdbcType=VARCHAR},
                #{ddTargetAppId, jdbcType=VARCHAR}, #{ddTargetAppName, jdbcType=VARCHAR},
                #{ddTargetAppType, jdbcType=INTEGER}, #{ddTargetAppPage, jdbcType=VARCHAR},
                #{ddPromoteAppId, jdbcType=VARCHAR}, #{ddPromoteAppName, jdbcType=VARCHAR},
                #{ddPromoteAppType, jdbcType=INTEGER}, #{ddPromoteAppPage, jdbcType=VARCHAR}, NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdContent">
        update config_ad_content
        <set>
            ddAdType = #{ddAdType, jdbcType=INTEGER},
            ddWeight = #{ddWeight, jdbcType=INTEGER},
            ddImageUrl = #{ddImageUrl, jdbcType=VARCHAR},
            ddTargetAppId = #{ddTargetAppId, jdbcType=VARCHAR},
            ddTargetAppName = #{ddTargetAppName, jdbcType=VARCHAR},
            ddTargetAppType = #{ddTargetAppType, jdbcType=INTEGER},
            ddTargetAppPage = #{ddTargetAppPage, jdbcType=VARCHAR},
            ddPromoteAppId = #{ddPromoteAppId, jdbcType=VARCHAR},
            ddPromoteAppName = #{ddPromoteAppName, jdbcType=VARCHAR},
            ddPromoteAppType = #{ddPromoteAppType, jdbcType=INTEGER},
            ddPromoteAppPage = #{ddPromoteAppPage, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

    <update id="updateImageUrl">
        update config_ad_content
        <set>
            ddImageUrl = '${imageUrl}'
        </set>
        where ddId = '${id}'
    </update>

    <update id="delete" parameterType="java.lang.String">
        delete
        from config_ad_content
        where ddId in (${deleteIds})
    </update>

</mapper>