<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.second.mapper.ConfigSubscribeMapper">
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigSubscribe">
    <id column="ddAppId" jdbcType="VARCHAR" property="ddAppId" />
    <id column="ddId" jdbcType="VARCHAR" property="ddId" />
    <result column="ddNo" jdbcType="INTEGER" property="ddNo" />
    <result column="ddType" jdbcType="VARCHAR" property="ddType" />
    <result column="ddTitle" jdbcType="VARCHAR" property="ddTitle" />
    <result column="ddExplain" jdbcType="VARCHAR" property="ddExplain" />
    <result column="ddStatus" jdbcType="BIT" property="ddStatus" />
    <result column="ddRule" jdbcType="VARCHAR" property="ddRule" />
    <result column="times" jdbcType="TIMESTAMP" property="times" />
  </resultMap>
  <sql id="Base_Column_List">
    ddAppId, ddId, ddNo, ddType, ddTitle, ddExplain, ddStatus, ddRule, times
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from config_subscribe
    where ddAppId = #{ddAppId,jdbcType=VARCHAR}
      and ddId = #{ddId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from config_subscribe
    where ddAppId = #{ddAppId,jdbcType=VARCHAR}
      and ddId = #{ddId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.ConfigSubscribe">
    insert into config_subscribe (ddAppId, ddId, ddNo, 
      ddType, ddTitle, ddExplain, 
      ddStatus, ddRule, times
      )
    values (#{ddAppId,jdbcType=VARCHAR}, #{ddId,jdbcType=VARCHAR}, #{ddNo,jdbcType=INTEGER}, 
      #{ddType,jdbcType=VARCHAR}, #{ddTitle,jdbcType=VARCHAR}, #{ddExplain,jdbcType=VARCHAR}, 
      #{ddStatus,jdbcType=BIT}, #{ddRule,jdbcType=VARCHAR}, #{times,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.ConfigSubscribe">
    insert into config_subscribe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ddAppId != null">
        ddAppId,
      </if>
      <if test="ddId != null">
        ddId,
      </if>
      <if test="ddNo != null">
        ddNo,
      </if>
      <if test="ddType != null">
        ddType,
      </if>
      <if test="ddTitle != null">
        ddTitle,
      </if>
      <if test="ddExplain != null">
        ddExplain,
      </if>
      <if test="ddStatus != null">
        ddStatus,
      </if>
      <if test="ddRule != null">
        ddRule,
      </if>
      <if test="times != null">
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ddAppId != null">
        #{ddAppId,jdbcType=VARCHAR},
      </if>
      <if test="ddId != null">
        #{ddId,jdbcType=VARCHAR},
      </if>
      <if test="ddNo != null">
        #{ddNo,jdbcType=INTEGER},
      </if>
      <if test="ddType != null">
        #{ddType,jdbcType=VARCHAR},
      </if>
      <if test="ddTitle != null">
        #{ddTitle,jdbcType=VARCHAR},
      </if>
      <if test="ddExplain != null">
        #{ddExplain,jdbcType=VARCHAR},
      </if>
      <if test="ddStatus != null">
        #{ddStatus,jdbcType=BIT},
      </if>
      <if test="ddRule != null">
        #{ddRule,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        #{times,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.ConfigSubscribe">
    update config_subscribe
    <set>
      <if test="ddNo != null">
        ddNo = #{ddNo,jdbcType=INTEGER},
      </if>
      <if test="ddType != null">
        ddType = #{ddType,jdbcType=VARCHAR},
      </if>
      <if test="ddTitle != null">
        ddTitle = #{ddTitle,jdbcType=VARCHAR},
      </if>
      <if test="ddExplain != null">
        ddExplain = #{ddExplain,jdbcType=VARCHAR},
      </if>
      <if test="ddStatus != null">
        ddStatus = #{ddStatus,jdbcType=BIT},
      </if>
      <if test="ddRule != null">
        ddRule = #{ddRule,jdbcType=VARCHAR},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ddAppId = #{ddAppId,jdbcType=VARCHAR}
      and ddId = #{ddId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.ConfigSubscribe">
    update config_subscribe
    set ddNo = #{ddNo,jdbcType=INTEGER},
      ddType = #{ddType,jdbcType=VARCHAR},
      ddTitle = #{ddTitle,jdbcType=VARCHAR},
      ddExplain = #{ddExplain,jdbcType=VARCHAR},
      ddStatus = #{ddStatus,jdbcType=BIT},
      ddRule = #{ddRule,jdbcType=VARCHAR},
      times = #{times,jdbcType=TIMESTAMP}
    where ddAppId = #{ddAppId,jdbcType=VARCHAR}
      and ddId = #{ddId,jdbcType=VARCHAR}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from config_subscribe
  </select>
</mapper>