<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.RechargeMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.Recharge">
        <id column="ddId" property="ddid" jdbcType="VARCHAR"/>
        <result column="ddUid" property="dduid" jdbcType="VARCHAR"/>
        <result column="ddAppId" property="ddappid" jdbcType="VARCHAR"/>
        <result column="ddRmb" property="ddrmb" jdbcType="DECIMAL"/>
        <result column="ddTip" property="ddtip" jdbcType="VARCHAR"/>
        <result column="ddStatus" property="ddstatus" jdbcType="INTEGER"/>
        <result column="ddTrans" property="ddtrans" jdbcType="TIMESTAMP"/>
        <result column="ddTimes" property="ddtimes" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ddId, ddUid, ddAppId, ddRmb, ddTip, ddStatus, ddTrans, ddTimes
  </sql>
    <select id="selectAll" resultType="com.fish.dao.second.model.Recharge">
        SELECT
        r.ddId as ddid,r.ddUid as ddUid, i.ddName as userName, r.ddRmb as ddRmb,r.ddAppId as ddAppId, r.ddTip as ddTip,
        r.ddStatus as ddStatus, w.product_name as productName , w.program_type as programType, r.ddTimes as ddTimes,
        r.ddTrans as ddTrans FROM recharge AS r LEFT JOIN user_info AS i ON r.ddUid = i.ddUid
        LEFT JOIN wx_config AS w ON r.ddAppId = w.ddAppId WHERE ddStatus != 200
        <if test="start != null and end !=''">
            and DATE(ddTimes) between '${start}' and '${end}'
        </if>
    </select>
    <select id="selectCashOut" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(ddRmb) FROM recharge WHERE ddStatus = 200 AND ddUid = '${dduid}' AND ddTimes  &lt;= '${ddTime}'
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.Recharge">
        update recharge
        <set>
            <if test="dduid != null">
                ddUid = #{dduid,jdbcType=VARCHAR},
            </if>
            <if test="ddappid != null">
                ddAppId = #{ddappid,jdbcType=VARCHAR},
            </if>
            <if test="ddrmb != null">
                ddRmb = #{ddrmb,jdbcType=DECIMAL},
            </if>
            <if test="ddtip != null">
                ddTip = #{ddtip,jdbcType=VARCHAR},
            </if>
            <if test="ddstatus != null">
                ddStatus = #{ddstatus,jdbcType=INTEGER},
            </if>
            <if test="ddtrans != null">
                ddTrans = #{ddtrans,jdbcType=TIMESTAMP},
            </if>
            <if test="ddtimes != null">
                ddTimes = #{ddtimes,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ddId = #{ddid,jdbcType=VARCHAR}
    </update>
    <select id="selectAllCharge" resultType="com.fish.dao.second.model.Recharge">
       SELECT a.ddCurrent*0.01 AS remainAmount,w.program_type AS programType,w.product_name AS productName,u.ddName AS userName,r.* FROM
        recharge AS r LEFT JOIN all_cost AS a ON r.ddUid = a.ddUid AND a.ddCostType= 'recharge' AND DATE_FORMAT(a.ddTime,"%Y-%m-%d %h")
        = DATE_FORMAT(r.ddTimes,"%Y-%m-%d %h")
       LEFT JOIN wx_config AS w ON r.ddAppId =w.ddAppId LEFT JOIN user_info AS u ON r.ddUid=u.ddUid
    </select>
    <select id="selectChargedByTime" resultType="com.fish.dao.second.model.Recharge" parameterType="string">
       SELECT * FROM (SELECT a.ddCurrent*0.01 AS remainAmount,w.program_type AS programType,w.product_name AS productName,u.ddName AS userName,r.* FROM
        recharge AS r LEFT JOIN all_cost AS a ON r.ddUid = a.ddUid AND a.ddCostType= 'recharge' AND DATE_FORMAT(a.ddTime,"%Y-%m-%d %h")
        = DATE_FORMAT(r.ddTimes,"%Y-%m-%d %h")
       LEFT JOIN wx_config AS w ON r.ddAppId =w.ddAppId LEFT JOIN user_info AS u ON r.ddUid=u.ddUid) t WHERE  DATE(ddTimes) BETWEEN
        from recharge where DATE(ddTimes) between '${start}' and '${end}'
    </select>
    <select id="selectAllUserRecharged" resultMap="BaseResultMap" parameterType="string">
       SELECT  s.`ddUid` as ddUid, SUM(ddRmb) as ddRmb
        FROM  recharge s  WHERE ddStatus = 200  GROUP BY s.`ddUid`
    </select>
</mapper>