<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.manager.modules.jj.mapper.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.cc.manager.modules.jj.entity.Orders">
        <id column="ddId" property="id" jdbcType="VARCHAR"/>
        <result column="ddUid" property="ddUid" jdbcType="VARCHAR"/>
        <result column="ddGId" property="ddGId" jdbcType="INTEGER"/>
        <result column="ddType" property="ddType" jdbcType="VARCHAR"/>
        <result column="ddAccount" property="ddAccount" jdbcType="VARCHAR"/>
        <result column="ddOrder" property="ddOrder" jdbcType="VARCHAR"/>
        <result column="ddError" property="ddError" jdbcType="VARCHAR"/>
        <result column="ddPrice" property="ddPrice" jdbcType="DECIMAL"/>
        <result column="ddState" property="ddState" jdbcType="INTEGER"/>
        <result column="ddTime" property="ddTime" jdbcType="TIMESTAMP"/>
        <result column="ddTrans" property="ddTrans" jdbcType="TIMESTAMP"/>
        <result column="ddOId" property="ddOId" jdbcType="VARCHAR"/>
        <result column="ddAppId" property="ddAppId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ddUid, ddGId, ddType, ddAccount, ddOrder, ddError, ddPrice, ddState, ddTime,
    ddTrans, ddOId, ddAppId
  </sql>

    <update id="updateByPrimaryKey">
        update orders
         set ddUid = #{ddUid,jdbcType=VARCHAR},
         ddGId = #{ddGId,jdbcType=INTEGER},
         ddType = #{ddType,jdbcType=VARCHAR},
         ddAccount = #{ddAccount,jdbcType=VARCHAR},
         ddOrder = #{ddOrder,jdbcType=VARCHAR},
         ddError = #{ddError,jdbcType=VARCHAR},
         ddPrice = #{ddPrice,jdbcType=DECIMAL},
         ddState = #{ddState,jdbcType=INTEGER},
         ddTime = #{ddTime,jdbcType=TIMESTAMP},
         ddTrans = #{ddTrans,jdbcType=TIMESTAMP},
         ddOId = #{ddOId,jdbcType=VARCHAR},
         ddAppId = #{ddAppId,jdbcType=VARCHAR}
     where ddId = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeySelective">
        update orders
        <set>
            <if test="ddUid != null">
                ddUid = #{ddUid,jdbcType=VARCHAR},
            </if>
            <if test="ddGId != null">
                ddGId = #{ddGId,jdbcType=INTEGER},
            </if>
            <if test="ddType != null">
                ddType = #{ddType,jdbcType=VARCHAR},
            </if>
            <if test="ddaccount != null">
                ddAccount = #{ddaccount,jdbcType=VARCHAR},
            </if>
            <if test="ddOrder != null">
                ddOrder = #{ddOrder,jdbcType=VARCHAR},
            </if>
            <if test="ddError != null">
                ddError = #{ddError,jdbcType=VARCHAR},
            </if>
            <if test="ddPrice != null">
                ddPrice = #{ddPrice,jdbcType=DECIMAL},
            </if>
            <if test="ddState != null">
                ddState = #{ddState,jdbcType=INTEGER},
            </if>
            <if test="ddTime != null">
                ddTime = #{ddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ddTrans != null">
                ddTrans = #{ddTrans,jdbcType=TIMESTAMP},
            </if>
            <if test="ddOId != null">
                ddOId = #{ddOId,jdbcType=VARCHAR},
            </if>
            <if test="ddAppId != null">
                ddAppId = #{ddAppId,jdbcType=VARCHAR},
            </if>
        </set>
        where ddId = #{id,jdbcType=VARCHAR}
    </update>
    <!--查询付费统计-->
    <select id="queryBuyStatistic" resultMap="BaseResultMap">
        SELECT
        DATE(o.ddTrans) AS ddTrans, SUM(o.ddPrice) AS ddPrice, COUNT(DISTINCT o.ddUid) AS payUsers,o.ddAppId AS ddAppId
        FROM orders o, persie.wx_config w
        <where>
            DATE(o.ddTrans) BETWEEN #{start} AND #{end} AND ddOrder !='null'
            AND o.ddAppId = w.ddAppId
            <if test="ddAppId != null and ddAppId !=''">
                AND o.ddAppId = #{ddAppId}
            </if>
            <if test="productType != null and productType !=''">
                AND w.program_type = #{productType}
            </if>
        </where>
        GROUP BY DATE(o.ddTrans) ,o.ddAppId
        ORDER BY DATE(o.ddTrans) ASC
    </select>
</mapper>
