<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.fourth.mapper.AdValueWxAdposMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.fourth.model.AdValueWxAdpos">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="VARCHAR"/>
        <result column="appId" property="appId" jdbcType="VARCHAR"/>
        <result column="clickCount" property="clickCount" jdbcType="INTEGER"/>
        <result column="clickRate" property="clickRate" jdbcType="DECIMAL"/>
        <result column="ecpm" property="ecpm" jdbcType="DECIMAL"/>
        <result column="exposureCount" property="exposureCount" jdbcType="INTEGER"/>
        <result column="exposureRate" property="exposureRate" jdbcType="DECIMAL"/>
        <result column="income" property="income" jdbcType="INTEGER"/>
        <result column="reqSuccCount" property="reqSuccCount" jdbcType="INTEGER"/>
        <result column="slotId" property="slotId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, date, appId, clickCount, clickRate, ecpm, exposureCount, exposureRate, income, 
    reqSuccCount, slotId
  </sql>
    <select id="selectAll" resultType="com.fish.dao.fourth.model.AdValueWxAdpos">
        select
        id, date, appId, clickCount, ROUND(clickRate * 100,2) as clickRate, ROUND(ecpm,2) as ecpm, exposureCount,
        ROUND(exposureRate* 100,2) as exposureRate, income,  reqSuccCount, slotId
        from ad_value_wx_adpos
    </select>
    <select id="selectByDate" resultType="com.fish.dao.fourth.model.AdValueWxAdpos">
        SELECT
        DATE,
        appId,
        SUM(clickCount) AS clickCount,
        ROUND((SUM(clickCount)/SUM(exposureCount)) * 100, 2) AS clickRate,
        ROUND(SUM(ecpm), 2) AS ecpm,
        SUM(exposureCount) AS exposureCount ,
        ROUND((SUM(exposureCount) /SUM(reqSuccCount)) * 100, 2) AS exposureRate,
        SUM(income) AS income ,
        SUM(reqSuccCount) AS reqSuccCount
        FROM
        ad_value_wx_adpos
        WHERE DATE(DATE) BETWEEN #{start} AND #{end}
        GROUP BY DATE ,appId
    </select>

    <select id="selectTypeIncomeByDate" resultType="com.fish.dao.fourth.model.AdValueWxAdpos">
        SELECT
        DATE,
        appId, slotId,
        SUM(income) AS income
        FROM
        ad_value_wx_adpos
        WHERE DATE(DATE) BETWEEN #{start} AND #{end}
        GROUP BY DATE ,appId,slotId
    </select>
    <select id="selectDataCollectTypeIncome" resultType="com.fish.dao.fourth.model.AdValueWxAdpos">
        SELECT
        DATE, slotId,
        SUM(income) AS income
        FROM
        ad_value_wx_adpos
        WHERE DATE(DATE) BETWEEN #{start} AND #{end}
        GROUP BY DATE ,slotId
    </select>
</mapper>