<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.fourth.mapper.WxDailyDetainMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.fourth.model.WxDailyDetain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appId" property="appId" jdbcType="VARCHAR" />
    <result column="refDate" property="refDate" jdbcType="VARCHAR" />
    <result column="dataType" property="dataType" jdbcType="VARCHAR" />
    <result column="day0" property="day0" jdbcType="INTEGER" />
    <result column="day1" property="day1" jdbcType="INTEGER" />
    <result column="day2" property="day2" jdbcType="INTEGER" />
    <result column="day3" property="day3" jdbcType="INTEGER" />
    <result column="day4" property="day4" jdbcType="INTEGER" />
    <result column="day5" property="day5" jdbcType="INTEGER" />
    <result column="day6" property="day6" jdbcType="INTEGER" />
    <result column="day7" property="day7" jdbcType="INTEGER" />
    <result column="day14" property="day14" jdbcType="INTEGER" />
    <result column="day30" property="day30" jdbcType="INTEGER" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, refDate, dataType, day0, day1, day2, day3, day4, day5, day6, day7, day14, 
    day30, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_daily_detain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wx_daily_detain
    where DATE(refDate) between #{beginDate, jdbcType=INTEGER} and #{endDate, jdbcType=INTEGER}
    <if test="wxDailyDetain.appId != null and wxDailyDetain.appId != ''">
      and appId = #{wxDailyDetain.appId, jdbcType=VARCHAR}
    </if>
    <if test="wxDailyDetain.dataType != null and wxDailyDetain.dataType != ''">
      and dataType = #{wxDailyDetain.dataType, jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_daily_detain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.fourth.model.WxDailyDetain" >
    insert into wx_daily_detain (id, appId, refDate, 
      dataType, day0, day1, 
      day2, day3, day4, day5, 
      day6, day7, day14, 
      day30, insertTime)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{refDate,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{day0,jdbcType=INTEGER}, #{day1,jdbcType=INTEGER}, 
      #{day2,jdbcType=INTEGER}, #{day3,jdbcType=INTEGER}, #{day4,jdbcType=INTEGER}, #{day5,jdbcType=INTEGER}, 
      #{day6,jdbcType=INTEGER}, #{day7,jdbcType=INTEGER}, #{day14,jdbcType=INTEGER}, 
      #{day30,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.fourth.model.WxDailyDetain" >
    insert into wx_daily_detain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="refDate != null" >
        refDate,
      </if>
      <if test="dataType != null" >
        dataType,
      </if>
      <if test="day0 != null" >
        day0,
      </if>
      <if test="day1 != null" >
        day1,
      </if>
      <if test="day2 != null" >
        day2,
      </if>
      <if test="day3 != null" >
        day3,
      </if>
      <if test="day4 != null" >
        day4,
      </if>
      <if test="day5 != null" >
        day5,
      </if>
      <if test="day6 != null" >
        day6,
      </if>
      <if test="day7 != null" >
        day7,
      </if>
      <if test="day14 != null" >
        day14,
      </if>
      <if test="day30 != null" >
        day30,
      </if>
      <if test="insertTime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refDate != null" >
        #{refDate,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="day0 != null" >
        #{day0,jdbcType=INTEGER},
      </if>
      <if test="day1 != null" >
        #{day1,jdbcType=INTEGER},
      </if>
      <if test="day2 != null" >
        #{day2,jdbcType=INTEGER},
      </if>
      <if test="day3 != null" >
        #{day3,jdbcType=INTEGER},
      </if>
      <if test="day4 != null" >
        #{day4,jdbcType=INTEGER},
      </if>
      <if test="day5 != null" >
        #{day5,jdbcType=INTEGER},
      </if>
      <if test="day6 != null" >
        #{day6,jdbcType=INTEGER},
      </if>
      <if test="day7 != null" >
        #{day7,jdbcType=INTEGER},
      </if>
      <if test="day14 != null" >
        #{day14,jdbcType=INTEGER},
      </if>
      <if test="day30 != null" >
        #{day30,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.fourth.model.WxDailyDetain" >
    update wx_daily_detain
    <set >
      <if test="appId != null" >
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refDate != null" >
        refDate = #{refDate,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        dataType = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="day0 != null" >
        day0 = #{day0,jdbcType=INTEGER},
      </if>
      <if test="day1 != null" >
        day1 = #{day1,jdbcType=INTEGER},
      </if>
      <if test="day2 != null" >
        day2 = #{day2,jdbcType=INTEGER},
      </if>
      <if test="day3 != null" >
        day3 = #{day3,jdbcType=INTEGER},
      </if>
      <if test="day4 != null" >
        day4 = #{day4,jdbcType=INTEGER},
      </if>
      <if test="day5 != null" >
        day5 = #{day5,jdbcType=INTEGER},
      </if>
      <if test="day6 != null" >
        day6 = #{day6,jdbcType=INTEGER},
      </if>
      <if test="day7 != null" >
        day7 = #{day7,jdbcType=INTEGER},
      </if>
      <if test="day14 != null" >
        day14 = #{day14,jdbcType=INTEGER},
      </if>
      <if test="day30 != null" >
        day30 = #{day30,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insertTime = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.fourth.model.WxDailyDetain" >
    update wx_daily_detain
    set appId = #{appId,jdbcType=VARCHAR},
      refDate = #{refDate,jdbcType=VARCHAR},
      dataType = #{dataType,jdbcType=VARCHAR},
      day0 = #{day0,jdbcType=INTEGER},
      day1 = #{day1,jdbcType=INTEGER},
      day2 = #{day2,jdbcType=INTEGER},
      day3 = #{day3,jdbcType=INTEGER},
      day4 = #{day4,jdbcType=INTEGER},
      day5 = #{day5,jdbcType=INTEGER},
      day6 = #{day6,jdbcType=INTEGER},
      day7 = #{day7,jdbcType=INTEGER},
      day14 = #{day14,jdbcType=INTEGER},
      day30 = #{day30,jdbcType=INTEGER},
      insertTime = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>