<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdContentMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdContent">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddAdType" property="ddAdType" jdbcType="INTEGER"/>
        <result column="ddWeight" property="ddWeight" jdbcType="INTEGER"/>
        <result column="ddImageUrl" property="ddImageUrl" jdbcType="VARCHAR"/>
        <result column="ddTargetAppId" property="ddTargetAppId" jdbcType="VARCHAR"/>
        <result column="ddTargetAppName" property="ddTargetAppName" jdbcType="VARCHAR"/>
        <result column="ddPromoteAppId" property="ddPromoteAppId" jdbcType="VARCHAR"/>
        <result column="ddPromoteAppName" property="ddPromoteAppName" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ddId, ddAdType, ddWeight, ddImageUrl, ddTargetAppId, ddTargetAppName, ddPromoteAppId, ddPromoteAppName, updateTime
    </sql>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_content
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdContent">
        insert into config_ad_content (ddAdType, ddWeight, ddImageUrl, ddTargetAppId, ddTargetAppName, ddPromoteAppId,
                                       ddPromoteAppName, updateTime)
        values (#{ddAdType, jdbcType=INTEGER}, #{ddWeight, jdbcType=INTEGER}, #{ddImageUrl, jdbcType=VARCHAR},
                #{ddTargetAppId, jdbcType=VARCHAR}, #{ddTargetAppName, jdbcType=VARCHAR},
                #{ddPromoteAppId, jdbcType=VARCHAR}, #{ddPromoteAppName, jdbcType=VARCHAR}, NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdContent">
        update config_ad_content
        <set>
            ddAdType = #{ddAdType, jdbcType=VARCHAR},
            ddWeight = #{ddWeight, jdbcType=VARCHAR},
            ddImageUrl = #{ddImageUrl, jdbcType=VARCHAR},
            ddTargetAppId = #{ddTargetAppId, jdbcType=VARCHAR},
            ddTargetAppName = #{ddTargetAppName, jdbcType=VARCHAR},
            ddPromoteAppId = #{ddPromoteAppId, jdbcType=VARCHAR},
            ddPromoteAppName = #{ddPromoteAppName, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        delete
        from config_ad_content
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

</mapper>