<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdSourceMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdSource">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddName" property="ddName" jdbcType="VARCHAR"/>
        <result column="ddAdTypes" property="ddAdTypes" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select ddId, ddName, updateTime
        from config_ad_source
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select ddId, ddName, updateTime
        from config_ad_source
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdSource">
        insert into config_ad_source (ddName, updateTime)
        values (#{ddName, jdbcType=VARCHAR}, NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdSource">
        update config_ad_source
        <set>
            ddName = #{ddName, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

</mapper>