<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdStrategyMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdStrategy">
        <id column="ddId" property="ddId" jdbcType="INTEGER"/>
        <result column="ddName" property="ddName" jdbcType="VARCHAR"/>
        <result column="ddValueExample" property="ddValueExample" jdbcType="VARCHAR"/>
        <result column="ddDescription" property="ddDescription" jdbcType="VARCHAR"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select ddId, ddName, ddValueExample, ddDescription, updateTime
        from config_ad_strategy
        where ddId = #{id, jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select ddId, ddName, ddValueExample, ddDescription, updateTime
        from config_ad_strategy
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdStrategy">
        insert into config_ad_strategy (ddName, ddValueExample, ddDescription, updateTime)
        values (#{ddName, jdbcType=VARCHAR}, #{ddValueExample, jdbcType=VARCHAR}, #{ddDescription, jdbcType=VARCHAR},
                NOW())
    </insert>

    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdStrategy">
        update config_ad_strategy
        <set>
            ddName = #{ddName, jdbcType=VARCHAR},
            ddValueExample = #{ddValueExample, jdbcType=VARCHAR},
            ddDescription = #{ddDescription, jdbcType=VARCHAR},
            updateTime = NOW()
        </set>
        where ddId = #{ddId, jdbcType=INTEGER}
    </update>

</mapper>