<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.NoticeMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.Notice">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="BIT"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="button" property="button" jdbcType="VARCHAR"/>
        <result column="leaveType" property="leavetype" jdbcType="VARCHAR"/>
        <result column="include" property="include" jdbcType="INTEGER"/>
        <result column="startTime" property="starttime" jdbcType="TIMESTAMP"/>
        <result column="endTime" property="endtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.fish.dao.second.model.NoticeWithBLOBs" extends="BaseResultMap">
        <result column="msg" property="msg" jdbcType="LONGVARCHAR"/>
        <result column="reward" property="reward" jdbcType="LONGVARCHAR"/>
        <result column="userList" property="userlist" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, state, icon, title, button, leaveType, include, startTime, endTime
  </sql>
    <sql id="Blob_Column_List">
    msg, reward, userList
  </sql>
    <select id="selectAll" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from notice  ${_parameter}
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from notice
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.fish.dao.second.model.NoticeWithBLOBs">
    insert into notice (id, state, icon, 
      title, button, leaveType, 
      include, startTime, endTime, 
      msg, reward, userList
      )
    values (#{id,jdbcType=INTEGER}, #{state,jdbcType=BIT}, #{icon,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{button,jdbcType=VARCHAR}, #{leavetype,jdbcType=VARCHAR}, 
      #{include,jdbcType=INTEGER}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{msg,jdbcType=LONGVARCHAR}, #{reward,jdbcType=LONGVARCHAR}, #{userlist,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.fish.dao.second.model.NoticeWithBLOBs">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="button != null">
                button,
            </if>
            <if test="leavetype != null">
                leaveType,
            </if>
            <if test="include != null">
                include,
            </if>
            <if test="starttime != null">
                startTime,
            </if>
            <if test="endtime != null">
                endTime,
            </if>
            <if test="msg != null">
                msg,
            </if>
            <if test="reward != null">
                reward,
            </if>
            <if test="userlist != null">
                userList,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=BIT},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="button != null">
                #{button,jdbcType=VARCHAR},
            </if>
            <if test="leavetype != null">
                #{leavetype,jdbcType=VARCHAR},
            </if>
            <if test="include != null">
                #{include,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="msg != null">
                #{msg,jdbcType=LONGVARCHAR},
            </if>
            <if test="reward != null">
                #{reward,jdbcType=LONGVARCHAR},
            </if>
            <if test="userlist != null">
                #{userlist,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.NoticeWithBLOBs">
        update notice
        <set>
            <if test="state != null">
                state = #{state,jdbcType=BIT},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="button != null">
                button = #{button,jdbcType=VARCHAR},
            </if>
            <if test="leavetype != null">
                leaveType = #{leavetype,jdbcType=VARCHAR},
            </if>
            <if test="include != null">
                include = #{include,jdbcType=INTEGER},
            </if>
            <if test="starttime != null">
                startTime = #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endTime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="msg != null">
                msg = #{msg,jdbcType=LONGVARCHAR},
            </if>
            <if test="reward != null">
                reward = #{reward,jdbcType=LONGVARCHAR},
            </if>
            <if test="userlist != null">
                userList = #{userlist,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.fish.dao.second.model.NoticeWithBLOBs">
    update notice
    set state = #{state,jdbcType=BIT},
      icon = #{icon,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      button = #{button,jdbcType=VARCHAR},
      leaveType = #{leavetype,jdbcType=VARCHAR},
      include = #{include,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      msg = #{msg,jdbcType=LONGVARCHAR},
      reward = #{reward,jdbcType=LONGVARCHAR},
      userList = #{userlist,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.Notice">
    update notice
    set state = #{state,jdbcType=BIT},
      icon = #{icon,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      button = #{button,jdbcType=VARCHAR},
      leaveType = #{leavetype,jdbcType=VARCHAR},
      include = #{include,jdbcType=INTEGER},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      msg = #{msg,jdbcType=LONGVARCHAR},
      reward = #{reward,jdbcType=LONGVARCHAR},
      userList = #{userlist,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>