<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.RecordVirtualMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.second.model.RecordVirtual" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="goodsId" property="goodsid" jdbcType="INTEGER" />
    <result column="firstSave" property="firstsave" jdbcType="BIT" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="historyBalance" property="historybalance" jdbcType="INTEGER" />
    <result column="saveSum" property="savesum" jdbcType="INTEGER" />
    <result column="virtualValue" property="virtualvalue" jdbcType="INTEGER" />
    <result column="success" property="success" jdbcType="BIT" />
    <result column="wealthType" property="wealthtype" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="insertTime" property="inserttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, goodsId, firstSave, balance, historyBalance, saveSum, virtualValue, success, 
    wealthType, price, insertTime
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    id, a.userId, goodsId, firstSave, balance, historyBalance, saveSum, virtualValue, success,
    wealthType, price, a.insertTime,b.nickName
    from record_virtual a left join user_info b on a.userId = b.userId
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from record_virtual
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from record_virtual
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.second.model.RecordVirtual" >
    insert into record_virtual (id, userId, goodsId, 
      firstSave, balance, historyBalance, 
      saveSum, virtualValue, success, 
      wealthType, price, insertTime
      )
    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT}, #{goodsid,jdbcType=INTEGER}, 
      #{firstsave,jdbcType=BIT}, #{balance,jdbcType=INTEGER}, #{historybalance,jdbcType=INTEGER}, 
      #{savesum,jdbcType=INTEGER}, #{virtualvalue,jdbcType=INTEGER}, #{success,jdbcType=BIT}, 
      #{wealthtype,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, #{inserttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.second.model.RecordVirtual" >
    insert into record_virtual
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="goodsid != null" >
        goodsId,
      </if>
      <if test="firstsave != null" >
        firstSave,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="historybalance != null" >
        historyBalance,
      </if>
      <if test="savesum != null" >
        saveSum,
      </if>
      <if test="virtualvalue != null" >
        virtualValue,
      </if>
      <if test="success != null" >
        success,
      </if>
      <if test="wealthtype != null" >
        wealthType,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="inserttime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null" >
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="firstsave != null" >
        #{firstsave,jdbcType=BIT},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="historybalance != null" >
        #{historybalance,jdbcType=INTEGER},
      </if>
      <if test="savesum != null" >
        #{savesum,jdbcType=INTEGER},
      </if>
      <if test="virtualvalue != null" >
        #{virtualvalue,jdbcType=INTEGER},
      </if>
      <if test="success != null" >
        #{success,jdbcType=BIT},
      </if>
      <if test="wealthtype != null" >
        #{wealthtype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.RecordVirtual" >
    update record_virtual
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=BIGINT},
      </if>
      <if test="goodsid != null" >
        goodsId = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="firstsave != null" >
        firstSave = #{firstsave,jdbcType=BIT},
      </if>
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="historybalance != null" >
        historyBalance = #{historybalance,jdbcType=INTEGER},
      </if>
      <if test="savesum != null" >
        saveSum = #{savesum,jdbcType=INTEGER},
      </if>
      <if test="virtualvalue != null" >
        virtualValue = #{virtualvalue,jdbcType=INTEGER},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=BIT},
      </if>
      <if test="wealthtype != null" >
        wealthType = #{wealthtype,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="inserttime != null" >
        insertTime = #{inserttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.second.model.RecordVirtual" >
    update record_virtual
    set userId = #{userid,jdbcType=BIGINT},
      goodsId = #{goodsid,jdbcType=INTEGER},
      firstSave = #{firstsave,jdbcType=BIT},
      balance = #{balance,jdbcType=INTEGER},
      historyBalance = #{historybalance,jdbcType=INTEGER},
      saveSum = #{savesum,jdbcType=INTEGER},
      virtualValue = #{virtualvalue,jdbcType=INTEGER},
      success = #{success,jdbcType=BIT},
      wealthType = #{wealthtype,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      insertTime = #{inserttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>