<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.StatisticsPayMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.StatisticsPay">
        <id column="pay_date" property="payDate" jdbcType="DATE"/>
        <result column="pay_income" property="payIncome" jdbcType="DECIMAL"/>
        <result column="pay_count" property="payCount" jdbcType="BIGINT"/>
    </resultMap>
    <resultMap id="DayResultMap" type="com.fish.protocols.StatisticsPayVO">
        <id column="pay_date" property="payDate" jdbcType="DATE"/>
        <result column="pay_income" property="payIncome" jdbcType="DECIMAL"/>
        <result column="pay_user" property="payUser" jdbcType="BIGINT"/>
        <result column="DAU" property="actives" jdbcType="BIGINT"/>
        <result column="DNU" property="newUser" jdbcType="BIGINT"/>
        <result column="DOSU" property="osu" jdbcType="BIGINT"/>
        <result column="promotion_costs" property="promotionCosts" jdbcType="DECIMAL"/>
        <result column="video_income" property="videoIncome" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="WeekResultMap" type="com.fish.protocols.StatisticsPayVO">
        <id column="new_week" property="newWeek" jdbcType="INTEGER"/>
        <result column="pay_income" property="payIncome" jdbcType="DECIMAL"/>
        <result column="pay_user" property="payUser" jdbcType="BIGINT"/>
        <result column="WAU" property="actives" jdbcType="BIGINT"/>
        <result column="WNU" property="newUser" jdbcType="BIGINT"/>
        <result column="WOSU" property="osu" jdbcType="BIGINT"/>
        <result column="promotion_costs" property="promotionCosts" jdbcType="DECIMAL"/>
        <result column="video_income" property="videoIncome" jdbcType="DECIMAL"/>
    </resultMap>
    <resultMap id="MonthResultMap" type="com.fish.protocols.StatisticsPayVO">
        <id column="new_month" property="newMonth" jdbcType="INTEGER"/>
        <result column="pay_income" property="payIncome" jdbcType="DECIMAL"/>
        <result column="pay_user" property="payUser" jdbcType="BIGINT"/>
        <result column="MAU" property="actives" jdbcType="BIGINT"/>
        <result column="MNU" property="newUser" jdbcType="BIGINT"/>
        <result column="MOSU" property="osu" jdbcType="BIGINT"/>
        <result column="promotion_costs" property="promotionCosts" jdbcType="DECIMAL"/>
        <result column="video_income" property="videoIncome" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    pay_date, pay_income, pay_count
  </sql>
    <select id="selectByDay" resultMap="DayResultMap">
    SELECT
     a.pay_date,a.pay_income,video_income,b.`pay_user`,b.`DNU`,b.`DAU`,b.`DOSU`,c.`promotion_costs`
    FROM statistics_pay a LEFT JOIN statistics_user_day b ON DATE(a.`pay_date`)=DATE(b.`new_date`)
    LEFT JOIN wx_input c ON DATE(c.`insert_time`)=DATE(a.`pay_date`)
  </select>
    <select id="selectByWeek" resultMap="WeekResultMap">
  SELECT
    a.new_week,a.pay_income,video_income,b.`pay_user`,b.`WNU`,b.`WAU`,b.`WOSU`,c.`promotion_costs`
  FROM
  (
    SELECT
    YEARWEEK(pay_date,1) AS new_week,SUM(pay_income) AS pay_income
    FROM
    statistics_pay GROUP BY new_week
  ) a LEFT JOIN statistics_user_week b ON a.new_week=b.new_week
  LEFT JOIN
  (
    SELECT YEARWEEK(insert_time,1) AS new_week,SUM(video_income) AS video_income,SUM(promotion_costs) AS promotion_costs
    FROM wx_input GROUP BY new_week
  )c ON c.new_week=a.new_week;
  </select>
    <select id="selectByMonth" resultMap="MonthResultMap">
    SELECT
     a.new_month,a.pay_income,video_income,b.`pay_user`,b.`MNU`,b.`MAU`,b.`MOSU`,c.`promotion_costs`
    FROM
    (
    SELECT
    DATE_FORMAT(pay_date,'%Y%m') AS new_month,SUM(pay_income) AS pay_income
    FROM
    statistics_pay GROUP BY new_month
    )
     a LEFT JOIN statistics_user_month b ON a.new_month=b.new_month
    LEFT JOIN
    (
    SELECT DATE_FORMAT(insert_time,'%Y%m') AS new_month,SUM(video_income) AS video_income,SUM(promotion_costs) AS promotion_costs
    FROM wx_input GROUP BY new_month
    )
    c ON c.new_month=a.new_month;
    </select>

    <!-- 自定义SQL语句 -->
    <select id="selectBySQL" resultType="java.util.Map" parameterType="java.lang.String">
      ${_parameter}
  </select>
    <!-- 自定义SQL语句 -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from statistics_pay
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Date">
        select
        <include refid="Base_Column_List"/>
        from statistics_pay
        where pay_date = #{payDate,jdbcType=DATE}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.util.Date">
    delete from statistics_pay
    where pay_date = #{payDate,jdbcType=DATE}
  </delete>
    <insert id="insert" parameterType="com.fish.dao.primary.model.StatisticsPay">
    insert into statistics_pay (pay_date, pay_income, pay_count, 
      video_income)
    values (#{payDate,jdbcType=DATE}, #{payIncome,jdbcType=DECIMAL}, #{payCount,jdbcType=BIGINT}, 
      #{videoIncome,jdbcType=DECIMAL})
  </insert>
    <insert id="insertSelective" parameterType="com.fish.dao.primary.model.StatisticsPay">
        insert into statistics_pay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="payDate != null">
                pay_date,
            </if>
            <if test="payIncome != null">
                pay_income,
            </if>
            <if test="payCount != null">
                pay_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="payDate != null">
                #{payDate,jdbcType=DATE},
            </if>
            <if test="payIncome != null">
                #{payIncome,jdbcType=DECIMAL},
            </if>
            <if test="payCount != null">
                #{payCount,jdbcType=BIGINT},
            </if>

        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.StatisticsPay">
        update statistics_pay
        <set>
            <if test="payIncome != null">
                pay_income = #{payIncome,jdbcType=DECIMAL},
            </if>
            <if test="payCount != null">
                pay_count = #{payCount,jdbcType=BIGINT},
            </if>
        </set>
        where pay_date = #{payDate,jdbcType=DATE}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.StatisticsPay">
    update statistics_pay
    set pay_income = #{payIncome,jdbcType=DECIMAL},
      pay_count = #{payCount,jdbcType=BIGINT}
    where pay_date = #{payDate,jdbcType=DATE}
  </update>
</mapper>