<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.StatisticsRetentionMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.StatisticsRetention" >
    <id column="new_date" property="newDate" jdbcType="DATE" />
    <result column="new_user" property="newUser" jdbcType="BIGINT" />
    <result column="retained_1" property="retained1" jdbcType="BIGINT" />
    <result column="retained_2" property="retained2" jdbcType="BIGINT" />
    <result column="retained_3" property="retained3" jdbcType="BIGINT" />
    <result column="retained_4" property="retained4" jdbcType="BIGINT" />
    <result column="retained_5" property="retained5" jdbcType="BIGINT" />
    <result column="retained_6" property="retained6" jdbcType="BIGINT" />
    <result column="retained_7" property="retained7" jdbcType="BIGINT" />
    <result column="retained_8" property="retained8" jdbcType="BIGINT" />
    <result column="retained_9" property="retained9" jdbcType="BIGINT" />
    <result column="retained_10" property="retained10" jdbcType="BIGINT" />
    <result column="retained_11" property="retained11" jdbcType="BIGINT" />
    <result column="retained_12" property="retained12" jdbcType="BIGINT" />
    <result column="retained_13" property="retained13" jdbcType="BIGINT" />
    <result column="retained_14" property="retained14" jdbcType="BIGINT" />
    <result column="retained_15" property="retained15" jdbcType="BIGINT" />
    <result column="retained_16" property="retained16" jdbcType="BIGINT" />
    <result column="retained_17" property="retained17" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    new_date, new_user, retained_1, retained_2, retained_3, retained_4, retained_5, retained_6, 
    retained_7, retained_8, retained_9, retained_10, retained_11, retained_12, retained_13, 
    retained_14, retained_15, retained_16, retained_17
  </sql>
  <!-- 自定义SQL语句 -->
  <select id="selectBySQL" resultType="java.util.Map" parameterType="java.lang.String" >
      ${_parameter}
  </select>
  <!-- 自定义SQL语句 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from statistics_retention
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.util.Date" >
    select 
    <include refid="Base_Column_List" />
    from statistics_retention
    where new_date = #{newDate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.util.Date" >
    delete from statistics_retention
    where new_date = #{newDate,jdbcType=DATE}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.StatisticsRetention" >
    insert into statistics_retention (new_date, new_user, retained_1, 
      retained_2, retained_3, retained_4, 
      retained_5, retained_6, retained_7, 
      retained_8, retained_9, retained_10, 
      retained_11, retained_12, retained_13, 
      retained_14, retained_15, retained_16, 
      retained_17)
    values (#{newDate,jdbcType=DATE}, #{newUser,jdbcType=BIGINT}, #{retained1,jdbcType=BIGINT}, 
      #{retained2,jdbcType=BIGINT}, #{retained3,jdbcType=BIGINT}, #{retained4,jdbcType=BIGINT}, 
      #{retained5,jdbcType=BIGINT}, #{retained6,jdbcType=BIGINT}, #{retained7,jdbcType=BIGINT}, 
      #{retained8,jdbcType=BIGINT}, #{retained9,jdbcType=BIGINT}, #{retained10,jdbcType=BIGINT}, 
      #{retained11,jdbcType=BIGINT}, #{retained12,jdbcType=BIGINT}, #{retained13,jdbcType=BIGINT}, 
      #{retained14,jdbcType=BIGINT}, #{retained15,jdbcType=BIGINT}, #{retained16,jdbcType=BIGINT}, 
      #{retained17,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.StatisticsRetention" >
    insert into statistics_retention
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newDate != null" >
        new_date,
      </if>
      <if test="newUser != null" >
        new_user,
      </if>
      <if test="retained1 != null" >
        retained_1,
      </if>
      <if test="retained2 != null" >
        retained_2,
      </if>
      <if test="retained3 != null" >
        retained_3,
      </if>
      <if test="retained4 != null" >
        retained_4,
      </if>
      <if test="retained5 != null" >
        retained_5,
      </if>
      <if test="retained6 != null" >
        retained_6,
      </if>
      <if test="retained7 != null" >
        retained_7,
      </if>
      <if test="retained8 != null" >
        retained_8,
      </if>
      <if test="retained9 != null" >
        retained_9,
      </if>
      <if test="retained10 != null" >
        retained_10,
      </if>
      <if test="retained11 != null" >
        retained_11,
      </if>
      <if test="retained12 != null" >
        retained_12,
      </if>
      <if test="retained13 != null" >
        retained_13,
      </if>
      <if test="retained14 != null" >
        retained_14,
      </if>
      <if test="retained15 != null" >
        retained_15,
      </if>
      <if test="retained16 != null" >
        retained_16,
      </if>
      <if test="retained17 != null" >
        retained_17,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newDate != null" >
        #{newDate,jdbcType=DATE},
      </if>
      <if test="newUser != null" >
        #{newUser,jdbcType=BIGINT},
      </if>
      <if test="retained1 != null" >
        #{retained1,jdbcType=BIGINT},
      </if>
      <if test="retained2 != null" >
        #{retained2,jdbcType=BIGINT},
      </if>
      <if test="retained3 != null" >
        #{retained3,jdbcType=BIGINT},
      </if>
      <if test="retained4 != null" >
        #{retained4,jdbcType=BIGINT},
      </if>
      <if test="retained5 != null" >
        #{retained5,jdbcType=BIGINT},
      </if>
      <if test="retained6 != null" >
        #{retained6,jdbcType=BIGINT},
      </if>
      <if test="retained7 != null" >
        #{retained7,jdbcType=BIGINT},
      </if>
      <if test="retained8 != null" >
        #{retained8,jdbcType=BIGINT},
      </if>
      <if test="retained9 != null" >
        #{retained9,jdbcType=BIGINT},
      </if>
      <if test="retained10 != null" >
        #{retained10,jdbcType=BIGINT},
      </if>
      <if test="retained11 != null" >
        #{retained11,jdbcType=BIGINT},
      </if>
      <if test="retained12 != null" >
        #{retained12,jdbcType=BIGINT},
      </if>
      <if test="retained13 != null" >
        #{retained13,jdbcType=BIGINT},
      </if>
      <if test="retained14 != null" >
        #{retained14,jdbcType=BIGINT},
      </if>
      <if test="retained15 != null" >
        #{retained15,jdbcType=BIGINT},
      </if>
      <if test="retained16 != null" >
        #{retained16,jdbcType=BIGINT},
      </if>
      <if test="retained17 != null" >
        #{retained17,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.StatisticsRetention" >
    update statistics_retention
    <set >
      <if test="newUser != null" >
        new_user = #{newUser,jdbcType=BIGINT},
      </if>
      <if test="retained1 != null" >
        retained_1 = #{retained1,jdbcType=BIGINT},
      </if>
      <if test="retained2 != null" >
        retained_2 = #{retained2,jdbcType=BIGINT},
      </if>
      <if test="retained3 != null" >
        retained_3 = #{retained3,jdbcType=BIGINT},
      </if>
      <if test="retained4 != null" >
        retained_4 = #{retained4,jdbcType=BIGINT},
      </if>
      <if test="retained5 != null" >
        retained_5 = #{retained5,jdbcType=BIGINT},
      </if>
      <if test="retained6 != null" >
        retained_6 = #{retained6,jdbcType=BIGINT},
      </if>
      <if test="retained7 != null" >
        retained_7 = #{retained7,jdbcType=BIGINT},
      </if>
      <if test="retained8 != null" >
        retained_8 = #{retained8,jdbcType=BIGINT},
      </if>
      <if test="retained9 != null" >
        retained_9 = #{retained9,jdbcType=BIGINT},
      </if>
      <if test="retained10 != null" >
        retained_10 = #{retained10,jdbcType=BIGINT},
      </if>
      <if test="retained11 != null" >
        retained_11 = #{retained11,jdbcType=BIGINT},
      </if>
      <if test="retained12 != null" >
        retained_12 = #{retained12,jdbcType=BIGINT},
      </if>
      <if test="retained13 != null" >
        retained_13 = #{retained13,jdbcType=BIGINT},
      </if>
      <if test="retained14 != null" >
        retained_14 = #{retained14,jdbcType=BIGINT},
      </if>
      <if test="retained15 != null" >
        retained_15 = #{retained15,jdbcType=BIGINT},
      </if>
      <if test="retained16 != null" >
        retained_16 = #{retained16,jdbcType=BIGINT},
      </if>
      <if test="retained17 != null" >
        retained_17 = #{retained17,jdbcType=BIGINT},
      </if>
    </set>
    where new_date = #{newDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.StatisticsRetention" >
    update statistics_retention
    set new_user = #{newUser,jdbcType=BIGINT},
      retained_1 = #{retained1,jdbcType=BIGINT},
      retained_2 = #{retained2,jdbcType=BIGINT},
      retained_3 = #{retained3,jdbcType=BIGINT},
      retained_4 = #{retained4,jdbcType=BIGINT},
      retained_5 = #{retained5,jdbcType=BIGINT},
      retained_6 = #{retained6,jdbcType=BIGINT},
      retained_7 = #{retained7,jdbcType=BIGINT},
      retained_8 = #{retained8,jdbcType=BIGINT},
      retained_9 = #{retained9,jdbcType=BIGINT},
      retained_10 = #{retained10,jdbcType=BIGINT},
      retained_11 = #{retained11,jdbcType=BIGINT},
      retained_12 = #{retained12,jdbcType=BIGINT},
      retained_13 = #{retained13,jdbcType=BIGINT},
      retained_14 = #{retained14,jdbcType=BIGINT},
      retained_15 = #{retained15,jdbcType=BIGINT},
      retained_16 = #{retained16,jdbcType=BIGINT},
      retained_17 = #{retained17,jdbcType=BIGINT}
    where new_date = #{newDate,jdbcType=DATE}
  </update>
</mapper>