<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.StatisticsUserMonthMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.StatisticsUserMonth" >
    <id column="new_month" property="newMonth" jdbcType="INTEGER" />
    <result column="MNU" property="mnu" jdbcType="BIGINT" />
    <result column="MAU" property="mau" jdbcType="BIGINT" />
    <result column="MOSU" property="mosu" jdbcType="BIGINT" />
    <result column="pay_user" property="payUser" jdbcType="BIGINT" />
    <result column="service_time" property="serviceTime" jdbcType="BIGINT" />
    <result column="PCU" property="pcu" jdbcType="BIGINT" />
    <result column="ACU" property="acu" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    new_month, MNU, MAU, MOSU, pay_user, service_time, PCU, ACU
  </sql>
  <!-- 自定义SQL语句 -->
  <select id="selectBySQL" resultType="java.util.Map" parameterType="java.lang.String" >
      ${_parameter}
  </select>
  <!-- 自定义SQL语句 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from statistics_user_month
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from statistics_user_month
    where new_month = #{newMonth,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from statistics_user_month
    where new_month = #{newMonth,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.primary.model.StatisticsUserMonth" >
    insert into statistics_user_month (new_month, MNU, MAU, 
      WOSU, pay_user, service_time, 
      PCU, ACU)
    values (#{newMonth,jdbcType=INTEGER}, #{mnu,jdbcType=BIGINT}, #{mau,jdbcType=BIGINT}, 
      #{mosu,jdbcType=BIGINT}, #{payUser,jdbcType=BIGINT}, #{serviceTime,jdbcType=BIGINT},
      #{pcu,jdbcType=BIGINT}, #{acu,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.primary.model.StatisticsUserMonth" >
    insert into statistics_user_month
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newMonth != null" >
        new_month,
      </if>
      <if test="mnu != null" >
        MNU,
      </if>
      <if test="mau != null" >
        MAU,
      </if>
      <if test="mosu != null" >
        MOSU,
      </if>
      <if test="payUser != null" >
        pay_user,
      </if>
      <if test="serviceTime != null" >
        service_time,
      </if>
      <if test="pcu != null" >
        PCU,
      </if>
      <if test="acu != null" >
        ACU,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newMonth != null" >
        #{newMonth,jdbcType=INTEGER},
      </if>
      <if test="mnu != null" >
        #{mnu,jdbcType=BIGINT},
      </if>
      <if test="mau != null" >
        #{mau,jdbcType=BIGINT},
      </if>
      <if test="mosu != null" >
        #{mosu,jdbcType=BIGINT},
      </if>
      <if test="payUser != null" >
        #{payUser,jdbcType=BIGINT},
      </if>
      <if test="serviceTime != null" >
        #{serviceTime,jdbcType=BIGINT},
      </if>
      <if test="pcu != null" >
        #{pcu,jdbcType=BIGINT},
      </if>
      <if test="acu != null" >
        #{acu,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.StatisticsUserMonth" >
    update statistics_user_month
    <set >
      <if test="mnu != null" >
        MNU = #{mnu,jdbcType=BIGINT},
      </if>
      <if test="mau != null" >
        MAU = #{mau,jdbcType=BIGINT},
      </if>
      <if test="mosu != null" >
        MOSU = #{wosu,jdbcType=BIGINT},
      </if>
      <if test="payUser != null" >
        pay_user = #{payUser,jdbcType=BIGINT},
      </if>
      <if test="serviceTime != null" >
        service_time = #{serviceTime,jdbcType=BIGINT},
      </if>
      <if test="pcu != null" >
        PCU = #{pcu,jdbcType=BIGINT},
      </if>
      <if test="acu != null" >
        ACU = #{acu,jdbcType=BIGINT},
      </if>
    </set>
    where new_month = #{newMonth,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.primary.model.StatisticsUserMonth" >
    update statistics_user_month
    set MNU = #{mnu,jdbcType=BIGINT},
      MAU = #{mau,jdbcType=BIGINT},
      MOSU = #{mosu,jdbcType=BIGINT},
      pay_user = #{payUser,jdbcType=BIGINT},
      service_time = #{serviceTime,jdbcType=BIGINT},
      PCU = #{pcu,jdbcType=BIGINT},
      ACU = #{acu,jdbcType=BIGINT}
    where new_month = #{newMonth,jdbcType=INTEGER}
  </update>
</mapper>