<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.RoundReceiveMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.RoundReceive" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ddUid" property="dduid" jdbcType="VARCHAR" />
    <result column="ddMCode" property="ddmcode" jdbcType="INTEGER" />
    <result column="ddGroup" property="ddgroup" jdbcType="BIT" />
    <result column="ddMIndex" property="ddmindex" jdbcType="INTEGER" />
    <result column="ddGCode" property="ddgcode" jdbcType="INTEGER" />
    <result column="ddMStart" property="ddmstart" jdbcType="TIMESTAMP" />
    <result column="ddMEnd" property="ddmend" jdbcType="TIMESTAMP" />
    <result column="ddMark" property="ddmark" jdbcType="BIGINT" />
    <result column="ddRanking" property="ddranking" jdbcType="INTEGER" />
    <result column="ddType" property="ddtype" jdbcType="VARCHAR" />
    <result column="ddTotal" property="ddtotal" jdbcType="INTEGER" />
    <result column="ddTime" property="ddtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddUid, ddMCode, ddGroup, ddMIndex, ddGCode, ddMStart, ddMEnd, ddMark, ddRanking, 
    ddType, ddTotal, ddTime
  </sql>
  <insert id="insert" parameterType="com.fish.dao.primary.model.RoundReceive" >
    insert into round_receive (id, ddUid, ddMCode, 
      ddGroup, ddMIndex, ddGCode, 
      ddMStart, ddMEnd, ddMark, 
      ddRanking, ddType, ddTotal, 
      ddTime)
    values (#{id,jdbcType=BIGINT}, #{dduid,jdbcType=VARCHAR}, #{ddmcode,jdbcType=INTEGER}, 
      #{ddgroup,jdbcType=BIT}, #{ddmindex,jdbcType=INTEGER}, #{ddgcode,jdbcType=INTEGER}, 
      #{ddmstart,jdbcType=TIMESTAMP}, #{ddmend,jdbcType=TIMESTAMP}, #{ddmark,jdbcType=BIGINT}, 
      #{ddranking,jdbcType=INTEGER}, #{ddtype,jdbcType=VARCHAR}, #{ddtotal,jdbcType=INTEGER}, 
      #{ddtime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.primary.model.RoundReceive" >
    update round_receive
    <set >
      <if test="dduid != null" >
        ddUid = #{dduid,jdbcType=VARCHAR},
      </if>
      <if test="ddmcode != null" >
        ddMCode = #{ddmcode,jdbcType=INTEGER},
      </if>
      <if test="ddgroup != null" >
        ddGroup = #{ddgroup,jdbcType=BIT},
      </if>
      <if test="ddmindex != null" >
        ddMIndex = #{ddmindex,jdbcType=INTEGER},
      </if>
      <if test="ddgcode != null" >
        ddGCode = #{ddgcode,jdbcType=INTEGER},
      </if>
      <if test="ddmstart != null" >
        ddMStart = #{ddmstart,jdbcType=TIMESTAMP},
      </if>
      <if test="ddmend != null" >
        ddMEnd = #{ddmend,jdbcType=TIMESTAMP},
      </if>
      <if test="ddmark != null" >
        ddMark = #{ddmark,jdbcType=BIGINT},
      </if>
      <if test="ddranking != null" >
        ddRanking = #{ddranking,jdbcType=INTEGER},
      </if>
      <if test="ddtype != null" >
        ddType = #{ddtype,jdbcType=VARCHAR},
      </if>
      <if test="ddtotal != null" >
        ddTotal = #{ddtotal,jdbcType=INTEGER},
      </if>
      <if test="ddtime != null" >
        ddTime = #{ddtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from round_receive
  </select>
  <select id="selectSearchTime" resultType="com.fish.dao.primary.model.RoundReceive">
    select
    <include refid="Base_Column_List" />
    from round_receive where DATE(ddtime) between '${start}' and '${end}'
  </select>
</mapper>