<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.primary.mapper.RoundsMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.Rounds" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ddCode" property="ddcode" jdbcType="VARCHAR" />
    <result column="ddGroup" property="ddgroup" jdbcType="TINYINT" />
    <result column="ddPriority" property="ddpriority" jdbcType="INTEGER" />
    <result column="ddName" property="ddname" jdbcType="VARCHAR" />
    <result column="ddName128u" property="ddname128u" jdbcType="VARCHAR" />
    <result column="ddHour0" property="ddhour0" jdbcType="INTEGER" />
    <result column="ddAward0512a" property="ddaward0512a" jdbcType="VARCHAR" />
    <result column="ddHour1" property="ddhour1" jdbcType="INTEGER" />
    <result column="ddAward1512a" property="ddaward1512a" jdbcType="VARCHAR" />
    <result column="ddHour2" property="ddhour2" jdbcType="INTEGER" />
    <result column="ddAward2512a" property="ddaward2512a" jdbcType="VARCHAR" />
    <result column="ddHour3" property="ddhour3" jdbcType="INTEGER" />
    <result column="ddAward3512a" property="ddaward3512a" jdbcType="VARCHAR" />
    <result column="ddHour4" property="ddhour4" jdbcType="INTEGER" />
    <result column="ddAward4512a" property="ddaward4512a" jdbcType="VARCHAR" />
    <result column="ddHour5" property="ddhour5" jdbcType="INTEGER" />
    <result column="ddAward5512a" property="ddaward5512a" jdbcType="VARCHAR" />
    <result column="ddHour6" property="ddhour6" jdbcType="INTEGER" />
    <result column="ddAward6512a" property="ddaward6512a" jdbcType="VARCHAR" />
    <result column="ddHour7" property="ddhour7" jdbcType="INTEGER" />
    <result column="ddAward7512a" property="ddaward7512a" jdbcType="VARCHAR" />
    <result column="ddHour8" property="ddhour8" jdbcType="INTEGER" />
    <result column="ddAward8512a" property="ddaward8512a" jdbcType="VARCHAR" />
    <result column="ddHour9" property="ddhour9" jdbcType="INTEGER" />
    <result column="ddAward9512a" property="ddaward9512a" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ddCode, ddGroup, ddPriority, ddName, ddName128u, ddHour0, ddAward0512a, ddHour1, 
    ddAward1512a, ddHour2, ddAward2512a, ddHour3, ddAward3512a, ddHour4, ddAward4512a, 
    ddHour5, ddAward5512a, ddHour6, ddAward6512a, ddHour7, ddAward7512a, ddHour8, ddAward8512a, 
    ddHour9, ddAward9512a, creat_time
  </sql>

  <select id="selectByDdCodeS" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rounds
    where ddCode = #{ddcode,jdbcType=VARCHAR} and ddGroup = FALSE
  </select>
  <select id="selectByDdCodeQ" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rounds
    where ddCode = #{ddcode,jdbcType=VARCHAR} and ddGroup = TRUE
  </select>

</mapper>