<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.primary.mapper.RoundRecordMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.primary.model.RoundRecord">
        <id column="ddCode" jdbcType="INTEGER" property="ddcode"/>
        <id column="ddGroup" jdbcType="BIT" property="ddgroup"/>
        <id column="ddIndex" jdbcType="INTEGER" property="ddindex"/>
        <result column="ddName" jdbcType="VARCHAR" property="ddname"/>
        <result column="ddGame" jdbcType="INTEGER" property="ddgame"/>
        <result column="ddRound" jdbcType="VARCHAR" property="ddround"/>
        <result column="ddStart" jdbcType="TIMESTAMP" property="ddstart"/>
        <result column="ddEnd" jdbcType="TIMESTAMP" property="ddend"/>
        <result column="ddSubmit" jdbcType="TIMESTAMP" property="ddsubmit"/>
        <result column="ddResult" jdbcType="INTEGER" property="ddresult"/>
        <result column="ddTime" jdbcType="TIMESTAMP" property="ddtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    ddCode, ddGroup, ddIndex, ddName, ddGame, ddRound, ddStart, ddEnd, ddSubmit, ddResult, 
    ddTime
  </sql>
    <select id="selectGRank" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from round_record WHERE ddResult>0 AND ddGroup = TRUE
    </select>
    <select id="selectGRankTime" resultType="com.fish.dao.primary.model.RoundRecord">
        select
        <include refid="Base_Column_List"/>
        from round_record WHERE ddResult>0 AND ddGroup = TRUE and DATE(ddSubmit) between '${start}' and '${end}'
    </select>
    <select id="selectSRankTime" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from round_record WHERE ddResult>0 AND ddGroup = FALSE and DATE(ddSubmit) between '${start}' and '${end}'
    </select>
    <select id="selectSRank" resultType="com.fish.dao.primary.model.RoundRecord">
        select
        <include refid="Base_Column_List"/>
        from round_record WHERE ddResult>0 AND ddGroup = FALSE
    </select>


</mapper>