<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.AllCostMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.AllCost">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ddUid" property="dduid" jdbcType="VARCHAR"/>
        <result column="ddAppId" property="ddappid" jdbcType="VARCHAR"/>
        <result column="ddType" property="ddtype" jdbcType="VARCHAR"/>
        <result column="ddHistory" property="ddhistory" jdbcType="BIGINT"/>
        <result column="ddCurrent" property="ddcurrent" jdbcType="BIGINT"/>
        <result column="ddValue" property="ddvalue" jdbcType="INTEGER"/>
        <result column="ddCostType" property="ddcosttype" jdbcType="VARCHAR"/>
        <result column="ddCostExtra" property="ddcostextra" jdbcType="VARCHAR"/>
        <result column="ddTime" property="ddtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, ddUid, ddAppId, ddType, ddHistory, ddCurrent, ddValue, ddCostType, ddCostExtra, 
    ddTime
  </sql>
    <select id="selectAllCost" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from all_cost
        where DATE(ddTime) between '${start}' and '${end}'
    </select>
    <!-- 自定义SQL语句 -->
    <select id="selectBySQL" resultType="com.fish.protocols.MatchCost" parameterType="java.lang.String">
      ${_parameter}
  </select>
    <select id="selectCurrentCoin" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM all_cost WHERE ddType = 'rmb'
        <if test="ddtime != null and ddtime !=''">
            and ddTime = #{ddtime, jdbcType=TIMESTAMP}
        </if>
    </select>
</mapper>