<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.second.mapper.ConfigAdAppMapper">

    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.ConfigAdApp">
        <result column="ddAppId" property="ddAppId" jdbcType="VARCHAR"/>
        <result column="ddMinVersion" property="ddMinVersion" jdbcType="VARCHAR"/>
        <result column="ddCombinationId" property="ddCombinationId" jdbcType="INTEGER"/>
        <result column="ddAllowedShow" property="ddAllowedShow" jdbcType="BOOLEAN"/>
        <result column="ddWxBannerUnit" property="ddWxBannerUnit" jdbcType="VARCHAR"/>
        <result column="ddWxBannerTime" property="ddWxBannerTime" jdbcType="INTEGER"/>
        <result column="ddWxBannerAllowedShow" property="ddWxBannerAllowedShow" jdbcType="BOOLEAN"/>
        <result column="ddWxBannerStrategyId" property="ddWxBannerStrategyId" jdbcType="INTEGER"/>
        <result column="ddWxBannerStrategyValue" property="ddWxBannerStrategyValue" jdbcType="VARCHAR"/>
        <result column="ddWxIntUint" property="ddWxIntUint" jdbcType="VARCHAR"/>
        <result column="ddWxIntAllowedShow" property="ddWxIntAllowedShow" jdbcType="BOOLEAN"/>
        <result column="ddWxIntStrategyId" property="ddWxIntStrategyId" jdbcType="INTEGER"/>
        <result column="ddWxIntStrategyValue" property="ddWxIntStrategyValue" jdbcType="VARCHAR"/>
        <result column="ddWxReVideoUnit" property="ddWxReVideoUnit" jdbcType="VARCHAR"/>
        <result column="ddWxReVideoAllowedShow" property="ddWxReVideoAllowedShow" jdbcType="BOOLEAN"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ddAppId,  ddMinVersion,  ddCombinationId,  ddAllowedShow,
        ddWxBannerUnit,  ddWxBannerTime,  ddWxBannerAllowedShow,  ddWxBannerStrategyId,  ddWxBannerStrategyValue,
        ddWxIntUint,  ddWxIntAllowedShow,  ddWxIntStrategyId,  ddWxIntStrategyValue,
        ddWxIntStrategyId,  ddWxIntStrategyValue, ddWxReVideoUnit, ddWxReVideoAllowedShow,
        updateTime
    </sql>

    <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_app
        where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from config_ad_app
    </select>

    <insert id="insert" parameterType="com.fish.dao.second.model.ConfigAdApp">
        insert into config_ad_app (ddAppId, ddMinVersion, ddCombinationId, ddAllowedShow, ddWxBannerUnit,
                                   ddWxBannerTime, ddWxBannerAllowedShow, ddWxBannerStrategyId, ddWxBannerStrategyValue,
                                   ddWxIntUint, ddWxIntAllowedShow, ddWxIntStrategyId, ddWxIntStrategyValue,
                                   ddWxReVideoUnit, ddWxReVideoAllowedShow, updateTime)
        values (#{ddAppId, jdbcType=VARCHAR}, #{ddMinVersion, jdbcType=VARCHAR}, #{ddCombinationId, jdbcType=INTEGER},
                #{ddAllowedShow, jdbcType=BOOLEAN}, #{ddWxBannerUnit, jdbcType=VARCHAR},
                #{ddWxBannerTime, jdbcType=INTEGER}, #{ddWxBannerAllowedShow, jdbcType=BOOLEAN},
                #{ddWxBannerStrategyId, jdbcType=INTEGER}, #{ddWxBannerStrategyValue, jdbcType=VARCHAR},
                #{ddWxIntUint, jdbcType=VARCHAR}, #{ddWxIntAllowedShow, jdbcType=BOOLEAN},
                #{ddWxIntStrategyId, jdbcType=INTEGER}, #{ddWxIntStrategyValue, jdbcType=VARCHAR},
                #{ddWxReVideoUnit, jdbcType=VARCHAR}, #{ddWxReVideoAllowedShow, jdbcType=BOOLEAN},
                NOW())
    </insert>

    <insert id="save" parameterType="com.fish.dao.second.model.ConfigAdApp">
        insert into config_ad_app (ddAppId, ddMinVersion, ddCombinationId, ddAllowedShow, ddWxBannerUnit,
                                   ddWxBannerTime, ddWxBannerAllowedShow, ddWxBannerStrategyId, ddWxBannerStrategyValue,
                                   ddWxIntUint, ddWxIntAllowedShow, ddWxIntStrategyId, ddWxIntStrategyValue,
                                   ddWxReVideoUnit, ddWxReVideoAllowedShow, updateTime)
        values (#{ddAppId, jdbcType=VARCHAR}, #{ddMinVersion, jdbcType=VARCHAR}, #{ddCombinationId, jdbcType=INTEGER},
                #{ddAllowedShow, jdbcType=BOOLEAN}, #{ddWxBannerUnit, jdbcType=VARCHAR},
                #{ddWxBannerTime, jdbcType=INTEGER}, #{ddWxBannerAllowedShow, jdbcType=BOOLEAN},
                #{ddWxBannerStrategyId, jdbcType=INTEGER}, #{ddWxBannerStrategyValue, jdbcType=VARCHAR},
                #{ddWxIntUint, jdbcType=VARCHAR}, #{ddWxIntAllowedShow, jdbcType=BOOLEAN},
                #{ddWxIntStrategyId, jdbcType=INTEGER}, #{ddWxIntStrategyValue, jdbcType=VARCHAR},
                #{ddWxReVideoUnit, jdbcType=VARCHAR}, #{ddWxReVideoAllowedShow, jdbcType=BOOLEAN},
                NOW())
        ON DUPLICATE KEY
            UPDATE
                  ddCombinationId = values(ddCombinationId),
                  ddAllowedShow = values(ddAllowedShow),
                  ddWxBannerUnit = values(ddWxBannerUnit),
                  ddWxBannerTime =  values(ddWxBannerTime),
                  ddWxBannerAllowedShow =  values(ddWxBannerAllowedShow),
                  ddWxBannerStrategyId =  values(ddWxBannerStrategyId),
                  ddWxBannerStrategyValue =  values(ddWxBannerStrategyValue),
                  ddWxIntUint =  values(ddWxIntUint),
                  ddWxIntAllowedShow =  values(ddWxIntAllowedShow),
                  ddWxIntStrategyId =  values(ddWxIntStrategyId),
                  ddWxIntStrategyValue =  values(ddWxIntStrategyValue),
                  ddWxReVideoUnit =  values(ddWxReVideoUnit),
                  ddWxReVideoAllowedShow = values(ddWxReVideoAllowedShow),
                  updateTime = NOW()
    </insert>
    <update id="update" parameterType="com.fish.dao.second.model.ConfigAdApp">
        update config_ad_app
        <set>
            ddAppId = #{ddAppId, jdbcType=VARCHAR},
            ddMinVersion = #{ddMinVersion, jdbcType=VARCHAR},
            ddCombinationId = #{ddCombinationId, jdbcType=INTEGER},
            ddAllowedShow = #{ddAllowedShow, jdbcType=BOOLEAN},
            ddWxBannerUnit = #{ddWxBannerUnit, jdbcType=VARCHAR},
            ddWxBannerTime = #{ddWxBannerTime, jdbcType=INTEGER},
            ddWxBannerAllowedShow = #{ddWxBannerAllowedShow, jdbcType=BOOLEAN},
            ddWxBannerStrategyId = #{ddWxBannerStrategyId, jdbcType=INTEGER},
            ddWxBannerStrategyValue = #{ddWxBannerStrategyValue, jdbcType=VARCHAR},
            ddWxIntUint = #{ddWxIntUint, jdbcType=VARCHAR},
            ddWxIntAllowedShow = #{ddWxIntAllowedShow, jdbcType=BOOLEAN},
            ddWxIntStrategyId = #{ddWxIntStrategyId, jdbcType=INTEGER},
            ddWxIntStrategyValue = #{ddWxIntStrategyValue, jdbcType=VARCHAR},
            ddWxReVideoUnit = #{ddWxReVideoUnit, jdbcType=VARCHAR},
            ddWxReVideoAllowedShow = #{ddWxReVideoAllowedShow, jdbcType=BOOLEAN},
            updateTime = NOW()
        </set>
        where id = #{id, jdbcType=INTEGER}
    </update>

    <update id="delete" parameterType="java.lang.String">
        delete
        from config_ad_app
        where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </update>
    <update id="changeAllowedShowStatus">
         update config_ad_app set ddAllowedShow = #{ddAllowedShow, jdbcType=BOOLEAN} where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </update>

    <update id="changeBannerStatus">
         update config_ad_app set ddWxBannerAllowedShow = #{ddWxBannerAllowedShow, jdbcType=BOOLEAN} where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </update>

    <update id="changeIconStatus">
         update config_ad_app set ddWxIntAllowedShow = #{ddWxIntAllowedShow, jdbcType=BOOLEAN} where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </update>

    <update id="changeVideoStatus">
         update config_ad_app set ddWxReVideoAllowedShow = #{ddWxReVideoAllowedShow, jdbcType=BOOLEAN} where ddAppId = #{ddAppId,jdbcType=VARCHAR}
        and ddMinVersion = #{ddMinVersion,jdbcType=VARCHAR}
    </update>
</mapper>