<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.second.mapper.WxGroupManagerMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.WxGroupManager">
        <id column="ddId" jdbcType="VARCHAR" property="ddId"/>
       <!-- <result column="cd_id" javaType="VARCHAR" property="cdId"/>
        <result column="wx_group_name" jdbcType="VARCHAR" property="wxGroupName"/>
        <result column="wx_group_manager" jdbcType="VARCHAR" property="wxGroupManager"/>
        <result column="wx_number" jdbcType="VARCHAR" property="wxNumber"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>-->
        <!-- config_confirm 部分 -->
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="ddStatus" jdbcType="VARCHAR" property="ddStatus"/>
        <result column="ddYes" jdbcType="VARCHAR" property="ddYes"/>
        <result column="ddNo" jdbcType="VARCHAR" property="ddNo"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
         c.ddId AS ddId, c.describe AS `describe`, c.ddStatus AS ddStatus, c.ddYes AS ddYes, c.ddNo AS ddNo,
         c.updateTime AS updateTime, w.cdId AS cdId, w.wxGroupName AS wxGroupName, w.wxGroupManager AS wxGroupManager,
         w.createTime AS createTime, w.updateQrCodeTime AS updateQrCodeTime
        from  config_confirm c, wx_group_manager w
        WHERE c.ddId = w.cdId
    </select>

    <select id="selectQrCodeByPrimaryKey" resultType="com.fish.dao.second.model.WxGroupManager">
        select ddYes, ddNo from config_confirm where ddId = #{ddId,jdbcType=VARCHAR}
    </select>
    <update id="updateWxGroupManager" parameterType="com.fish.dao.second.model.WxGroupManager">
        update wx_group_manager
        <set>
            <if test="wxGroupName != null">
                wxGroupName = #{wxGroupName,jdbcType=VARCHAR},
            </if>
            <if test="wxGroupManager != null">
                wxGroupManager = #{wxGroupManager,jdbcType=VARCHAR},
            </if>
            <if test="wxNumber != null">
                wxNumber = #{wxNumber,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="updateQrCodeTime != null">
                updateQrCodeTime = #{updateQrCodeTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="changeStatus" parameterType="java.lang.Integer">
        update config_confirm set ddStatus = ${ddStatus}
    </update>
    <update id="updateConfigConfirm" parameterType="com.fish.dao.second.model.WxGroupManager">
        update config_confirm
        <set>
            <if test="describe != null">
                `describe` = #{describe,jdbcType=VARCHAR},
            </if>
            <if test="ddYes != null">
                ddYes = #{ddYes,jdbcType=VARCHAR},
            </if>
            <if test="ddNo != null">
                ddNo = #{ddNo,jdbcType=VARCHAR},
            </if>
            <if test="ddStatus != null">
                ddStatus = #{ddStatus,jdbcType=VARCHAR},
            </if>
             updateTime = NOW()
        </set>
        where ddId = #{ddId,jdbcType=VARCHAR}
    </update>

    <insert id="insertHistoryDate" parameterType="com.fish.dao.second.model.WxGroupManager">
        insert into wx_group_history
            (wxGroupName,
            wxGroupManager,
            createTime,
            updateQrCodeTime,
            `describe`,
            ddStatus,
            ddYes,
            ddNo,
            updateTime)
        values (
            #{wxGroupName},
            #{wxGroupManager},
            #{createTime},
            #{updateQrCodeTime},
            #{describe},
            #{ddStatus},
            #{ddYes},
            #{ddNo},
            #{updateTime}
        )
    </insert>
   <!-- <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.second.model.WxGroupManager">
        update wx_group_manager
        <set>
            <if test="wxGroupName != null">
                wx_group_name = #{wxGroupName,jdbcType=VARCHAR},
            </if>
            <if test="wxGroupManager != null">
                wx_group_manager = #{wxGroupManager,jdbcType=VARCHAR},
            </if>
            <if test="wxNumber != null">
                wx_number = #{wxNumber,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="wxGroupDescribe != null">
                wx_group_describe = #{wxGroupDescribe,jdbcType=VARCHAR},
            </if>
            <if test="wxGroupQrcode != null">
                wx_group_qrcode = #{wxGroupQrcode,jdbcType=VARCHAR},
            </if>
            <if test="wxCostomerQrcode != null">
                wx_costomer_qrcode = #{wxCostomerQrcode,jdbcType=VARCHAR},
            </if>
            <if test="lastUploadTime != null">
                last_upload_time = #{lastUploadTime,jdbcType=INTEGER},
            </if>
            <if test="wxQrcodeStatus != null">
                wx_qrcode_status = #{wxQrcodeStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>-->


</mapper>