<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.dao.second.mapper.WxGroupHistoryMapper">
    <resultMap id="BaseResultMap" type="com.fish.dao.second.model.WxGroupHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="wxGroupName" jdbcType="VARCHAR" property="wxGroupName"/>
        <result column="wxGroupManager" jdbcType="VARCHAR" property="wxGroupManager"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateQrCodeTime" jdbcType="VARCHAR" property="updateQrCodeTime"/>
        <result column="describe" jdbcType="VARCHAR" property="describe"/>
        <result column="ddStatus" jdbcType="INTEGER" property="ddStatus"/>
        <result column="ddYes" jdbcType="VARCHAR" property="ddYes"/>
        <result column="ddNo" jdbcType="VARCHAR" property="ddNo"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, wxGroupName, wxGroupManager, createTime, updateQrCodeTime, `describe`, ddStatus,
     ddYes, ddNo, updateTime
  </sql>
    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from  wx_group_history
    </select>

    <select id="selectSearchTime" resultType="com.fish.dao.second.model.WxGroupHistory">
        select
        <include refid="Base_Column_List" />
        from wx_group_history where DATE(updateTime) between '${start}' and '${end}'
    </select>

</mapper>