<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.fourth.mapper.WxVisitDistributionMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.fourth.model.WxVisitDistribution" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appId" property="appId" jdbcType="VARCHAR" />
    <result column="refDate" property="refDate" jdbcType="VARCHAR" />
    <result column="accessType" property="accessType" jdbcType="VARCHAR" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
    <result column="accessValue" property="accessValue" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, refDate, accessType,accessValue, insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_visit_distribution
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from wx_visit_distribution
    where accessType ='access_source_session_cnt' group by refDate
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_visit_distribution
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.fourth.model.WxVisitDistribution" >
    insert into wx_visit_distribution (id, appId, refDate, 
      accessType, insertTime, accessValue
      )
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{refDate,jdbcType=VARCHAR}, 
      #{accessType,jdbcType=VARCHAR}, #{insertTime,jdbcType=TIMESTAMP}, #{accessValue,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.fourth.model.WxVisitDistribution" >
    insert into wx_visit_distribution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="refDate != null" >
        refDate,
      </if>
      <if test="accessType != null" >
        accessType,
      </if>
      <if test="insertTime != null" >
        insertTime,
      </if>
      <if test="accessValue != null" >
        accessValue,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refDate != null" >
        #{refDate,jdbcType=VARCHAR},
      </if>
      <if test="accessType != null" >
        #{accessType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accessValue != null" >
        #{accessValue,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.fourth.model.WxVisitDistribution" >
    update wx_visit_distribution
    <set >
      <if test="appId != null" >
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refDate != null" >
        refDate = #{refDate,jdbcType=VARCHAR},
      </if>
      <if test="accessType != null" >
        accessType = #{accessType,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null" >
        insertTime = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accessValue != null" >
        accessValue = #{accessValue,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>