<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fish.dao.fourth.mapper.WxWeeklyRetainMapper" >
  <resultMap id="BaseResultMap" type="com.fish.dao.fourth.model.WxWeeklyRetain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appId" property="appId" jdbcType="VARCHAR" />
    <result column="refWeek" property="refWeek" jdbcType="VARCHAR" />
    <result column="dataType" property="dataType" jdbcType="VARCHAR" />
    <result column="week0" property="week0" jdbcType="INTEGER" />
    <result column="week1" property="week1" jdbcType="INTEGER" />
    <result column="week2" property="week2" jdbcType="INTEGER" />
    <result column="week3" property="week3" jdbcType="INTEGER" />
    <result column="week4" property="week4" jdbcType="INTEGER" />
    <result column="week5" property="week5" jdbcType="INTEGER" />
    <result column="week6" property="week6" jdbcType="INTEGER" />
    <result column="week7" property="week7" jdbcType="INTEGER" />
    <result column="insertTime" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, refWeek, dataType, week0, week1, week2, week3, week4, week5, week6, week7, 
    insertTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wx_weekly_retain
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from wx_weekly_retain
    where DATE(refWeek) between #{beginWeek, jdbcType=INTEGER} and #{endWeek, jdbcType=INTEGER}
    <if test="wxWeeklyRetain.appId != null and wxWeeklyRetain.appId != ''">
      and appId = #{wxWeeklyRetain.appId, jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wx_weekly_retain
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fish.dao.fourth.model.WxWeeklyRetain" >
    insert into wx_weekly_retain (id, appId, refWeek, 
      dataType, week0, week1, 
      week2, week3, week4, 
      week5, week6, week7, 
      insertTime)
    values (#{id,jdbcType=INTEGER}, #{appId,jdbcType=VARCHAR}, #{refWeek,jdbcType=VARCHAR}, 
      #{dataType,jdbcType=VARCHAR}, #{week0,jdbcType=INTEGER}, #{week1,jdbcType=INTEGER}, 
      #{week2,jdbcType=INTEGER}, #{week3,jdbcType=INTEGER}, #{week4,jdbcType=INTEGER}, 
      #{week5,jdbcType=INTEGER}, #{week6,jdbcType=INTEGER}, #{week7,jdbcType=INTEGER}, 
      #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fish.dao.fourth.model.WxWeeklyRetain" >
    insert into wx_weekly_retain
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        appId,
      </if>
      <if test="refWeek != null" >
        refWeek,
      </if>
      <if test="dataType != null" >
        dataType,
      </if>
      <if test="week0 != null" >
        week0,
      </if>
      <if test="week1 != null" >
        week1,
      </if>
      <if test="week2 != null" >
        week2,
      </if>
      <if test="week3 != null" >
        week3,
      </if>
      <if test="week4 != null" >
        week4,
      </if>
      <if test="week5 != null" >
        week5,
      </if>
      <if test="week6 != null" >
        week6,
      </if>
      <if test="week7 != null" >
        week7,
      </if>
      <if test="insertTime != null" >
        insertTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refWeek != null" >
        #{refWeek,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="week0 != null" >
        #{week0,jdbcType=INTEGER},
      </if>
      <if test="week1 != null" >
        #{week1,jdbcType=INTEGER},
      </if>
      <if test="week2 != null" >
        #{week2,jdbcType=INTEGER},
      </if>
      <if test="week3 != null" >
        #{week3,jdbcType=INTEGER},
      </if>
      <if test="week4 != null" >
        #{week4,jdbcType=INTEGER},
      </if>
      <if test="week5 != null" >
        #{week5,jdbcType=INTEGER},
      </if>
      <if test="week6 != null" >
        #{week6,jdbcType=INTEGER},
      </if>
      <if test="week7 != null" >
        #{week7,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fish.dao.fourth.model.WxWeeklyRetain" >
    update wx_weekly_retain
    <set >
      <if test="appId != null" >
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="refWeek != null" >
        refWeek = #{refWeek,jdbcType=VARCHAR},
      </if>
      <if test="dataType != null" >
        dataType = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="week0 != null" >
        week0 = #{week0,jdbcType=INTEGER},
      </if>
      <if test="week1 != null" >
        week1 = #{week1,jdbcType=INTEGER},
      </if>
      <if test="week2 != null" >
        week2 = #{week2,jdbcType=INTEGER},
      </if>
      <if test="week3 != null" >
        week3 = #{week3,jdbcType=INTEGER},
      </if>
      <if test="week4 != null" >
        week4 = #{week4,jdbcType=INTEGER},
      </if>
      <if test="week5 != null" >
        week5 = #{week5,jdbcType=INTEGER},
      </if>
      <if test="week6 != null" >
        week6 = #{week6,jdbcType=INTEGER},
      </if>
      <if test="week7 != null" >
        week7 = #{week7,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null" >
        insertTime = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fish.dao.fourth.model.WxWeeklyRetain" >
    update wx_weekly_retain
    set appId = #{appId,jdbcType=VARCHAR},
      refWeek = #{refWeek,jdbcType=VARCHAR},
      dataType = #{dataType,jdbcType=VARCHAR},
      week0 = #{week0,jdbcType=INTEGER},
      week1 = #{week1,jdbcType=INTEGER},
      week2 = #{week2,jdbcType=INTEGER},
      week3 = #{week3,jdbcType=INTEGER},
      week4 = #{week4,jdbcType=INTEGER},
      week5 = #{week5,jdbcType=INTEGER},
      week6 = #{week6,jdbcType=INTEGER},
      week7 = #{week7,jdbcType=INTEGER},
      insertTime = #{insertTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>